@import '~view/variables.scss';

.task__wrapper {
  position: relative;
  width: 100%;
  margin: 0 2%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-manager {
  position: relative;
  width: 100%;
  overflow-y: scroll;
  height: 80vh;
  border-radius: 5px;
  padding: 40px 15px 0 15px;
  background: $color002;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &__title {
    &-bottom,
    &-top {
      font-size: 36px;
    }
    &-top {
      position: absolute;
      left: 0;
      top: -50px;
      color: $color002;
    }
    &-bottom {
      color: $color001;
    }
  }
  &__form {
    position: relative;
    margin-top: 30px;
  }
  &__button {
    right: 0;
    font-size: 18px;
    font-weight: 600;
    color: $color003;
    pointer-events: none;
  }
  &__field {
    padding-left: 30px;
  }
  &__field:valid + &__button {
    color: $color001;
    pointer-events: auto;
    cursor: pointer;
  }
  &__icon,
  &__button {
    position: absolute;
  }
}
